<div class="container">
  <h1>New article</h1>
  <%= form_with model: @article do |f|%>
    <%= f.label :title, class: "form-label" %>
    <%= f.text_field :title, class: "form-control" %>
    <%= f.label :content, class: "form-label"%>
    <%= f.text_area :content, class: "form-control" %>
    <%= f.submit 'Create Article', class: 'btn btn-primary' %>
  <% end %>
</div>
